<div class="row">
	<div class="center-block alignmid">
		<h2>
			Paste console log from dota_debug_lobby command
		</h2>

		<%= form_tag '/home' do %>
		<%= text_area_tag "ids", nil, :placeholder => "  Member[0] [U:1:189360279]  team = 0
	  Member[1] [U:1:189331590]  team = 0
	  Member[2] [U:1:52453166]  team = 0
	  Member[3] [U:1:129146865]  team = 0
	  Member[4] [U:1:187520208]  team = 0
	  Member[5] [U:1:25945591]  team = 1
	  Member[6] [U:1:188594831]  team = 1
	  Member[7] [U:1:145357907]  team = 1
	  Member[8] [U:1:116190211]  team = 1
	  Member[9] [U:1:183457922]  team = 1", size: "60x12" %>
		  
		  <br>
		  <%= submit_tag("Submit", class: 'btn btn-large btn-primary') %>
		<% end %>

		<ul>
			<% @matchlist.each do |players| %>
				<li><%= players['account_id'] %></li>
			<% end %>
		</ul>
	</div>
</div>