<div class="row">
	<div class="center-block alignmid">
		<h2>
			Paste console log from dota_debug_lobby command
		</h2>

		<%= form_tag '/home' do %>
		<%= text_area_tag "ids", nil, :placeholder => "          Member[0] [U:1:4294967295]  team = 0
	  Member[1] [U:1:96402803]  team = 0
	  Member[2] [U:1:100242027]  team = 0
	  Member[3] [U:1:60480688]  team = 0
	  Member[4] [U:1:21704323]  team = 0
	  Member[5] [U:1:124750469]  team = 1
	  Member[6] [U:1:60142971]  team = 1
	  Member[7] [U:1:114946147]  team = 1
	  Member[8] [U:1:40681037]  team = 1
	  Member[9] [U:1:102703882]  team = 1", size: "60x12" %>
		  
		  <br>
		  <%= submit_tag("Submit", class: 'btn btn-large btn-primary') %>
		<% end %>

		<ul>
			<% @matchlist.each do |players| %>
				<li><%= players['account_id'] %></li>
			<% end %>
		</ul>
	</div>
</div>