@import "bootstrap-sprockets";
@import "bootstrap";

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* header */
.navcolored {
  background-color: #DD2222;
}

.navbar-default .navbar-brand {
  color: white;
  &:hover {
    color: white;
  }
}



.alignmid {
  width: 960px;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  min-height: 20px;
}

.navbar-brand {
  padding: 0 15px;
  height: 20px;
}

#chartcontainer {
  margin-top: -3px;
}