<footer class="footer">
  <small>
    source: Dota 2 Web Api
  </small>
  <nav>
    <ul>
      <li><a href="mailto:heartmoar@gmail.com">heartmoar@gmail.com</a></li>
    </ul>
  </nav>
</footer>