<footer class="footer">
  <small>
    by Maurice Cadenhead
  </small>
  <nav>
    <ul>
      <li><a href="http://railstutorial.org/">info@counterhero.com</a></li>
    </ul>
  </nav>
</footer>