<nav class="navbar navbar-default navbar-static-top navcolored" role="navigation">
  <div class="container">
    <%= link_to "Counter Hero", root_path, id: "logo", class: "navbar-brand" %>
  </div>
</nav>